footer {

    /*bottom: 0;*/
    /*left: 0;*/
    width: 105%;
    font-weight: 300;
    /*justify-content: flex-end;*/
    padding: 1rem;
    background-color: #1f1f1f;
    /*text-align: right;*/
    color: #c7c7c7;
    justify-items: right;
    /*position: fixed;*/
    box-sizing: border-box;
}

footer > p {
    margin: 1rem;
}